
* {
  box-sizing: border-box;
}

body {
  text-align: center; 
  font-family: Arial, Helvetica, san-serif;
}

h1 {
  font-size: 75%;
  margin-bottom: 30px;
}

#chicken {
  font-size: 25%;
  padding: 10px 20px 10px 20px;
  border: 5px solid black;
  width: 300px;
}

#cwords {
  padding: 10px 20px 10px 20px;
  border: 5px solid black;
  width: 300px;
}

#beef {
  font-size: 25%;
  padding: 10px 20px 10px 20px;
  border: 5px solid black;
  width: 300px;
}

#sushi {
  font-size: 25%;
  padding: 10px 20px 10px 20px;
  border: 5px solid black;
  width: 300px;
}
